<script setup lang="ts">
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useLoginStore } from '@/stores/login';
const loginStore = useLoginStore();

const loginName = ref("");
const password = ref("");
const valid = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);

const login = async () => {
  const {valid} = await form.value!.validate();
  if(valid){
    loginStore.login(loginName.value)
  } 
}
const reset = () => {
  form.value?.reset();
}

</script>

<template>
  <v-app>
    <v-main class="bg-grey-darken-1 pa-10">
      <v-card width="450px" class="mx-auto">
        <v-card-title primary-title class="text-center">
          Login
        </v-card-title>
        <v-card-text> 
          <v-form ref="form" v-model="valid">
            <v-text-field label="Login Name" v-model="loginName"
              :rules="[v => !!v || 'Login Name is required',
              (v => v.length >= 4 || 'Name must be more than 4 characters')]"
              required>
            </v-text-field>
            <v-text-field 
            label="Password" 
            type="Password" 
            v-model="password" :rules="[]"
            required>
            </v-text-field>
          </v-form>
      
        </v-card-text>
        <v-card-actions class="justify-center">
          <v-btn color="success" @click="login">login</v-btn>
          <v-btn color="error" @click="reset">clear</v-btn>
        </v-card-actions>
      </v-card>
    </v-main>
  </v-app>


</template>

<style>

</style>