<script setup lang="ts">
import MainView from './views/MainView.vue';
import LoginView from './views/LoginView.vue';
import { onMounted, ref } from 'vue';
import { useLoginStore } from './stores/login';
const loginStore = useLoginStore();


onMounted(() => {
  loginStore.loadData();
})
</script>
<template>
  <LoginView v-if="!loginStore.islogin"></LoginView>
  <MainView v-if="loginStore.islogin" @logout="loginStore.logout" :loginName="loginStore.loginName"></MainView>
</template>

<style scoped>

</style>
